@import '../scss-tools/mixins';

#loading-screen {
  background: black;

  position: fixed;

  z-index: 1000000;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  @include flexcenter(column);

  transition: 300ms;
}