/*

nav{
  border-right: rgba(160, 160, 160, 0.17) solid 1px;
  width: $nav-width;
  height: 100%;
  position: fixed;
  background: $navColor;
  left: 0;
  color: $textColor;
  @include flex(column, flex-start, center, 0);
  transition: 300ms;
  box-sizing: border-box;



  &.second{
    width: calc($nav-width + 10vw);
  }

  .app-logo{
    aspect-ratio: 1/1;
    width: 2rem;
    background-color: white;
    border-radius: 50%;
    margin: 1rem;
  }
  .nav-buttons{
    @include flex(column, center, center, 1rem);
    a{
      cursor: pointer;
      color: white;
      width: 2.5rem;
      aspect-ratio: 1/1;
      border-radius: 10px;
      @include flexcenter(row);
      svg{
        width: 1.1rem;
        height: 1.1rem;
        fill: white;
      }
      span{
        visibility: hidden;
      }
      &:hover{
        background-color: rgba(0, 0, 0, 0.47);

      }

    }
  }
}

*/

.user-profile{
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  @include flex(column, center, flex-end, .1rem);

  z-index: 1000;

  > a{
    aspect-ratio: 1/1;
    width: 2rem;
    background-color: $profileColor;
    border-radius: 50%;

    color: black;
    cursor: pointer;
    text-decoration: none;
    @include flexcenter(column);
    span{
      text-transform: uppercase;
    }
  }

  &_menu{
    background: linear-gradient(to top, rgb(11, 11, 11), rgb(15, 15, 15));
    border-radius: 10px;
    box-shadow: inset 5px -5px 0 rgba(28, 28, 28, 0.19);
    box-shadow: inset -5px 5px 0 rgba(57, 57, 57, 0.21);
    box-shadow: 0 0 120px rgba(74, 74, 74, 0.4);

    border: 1px solid rgba(255, 255, 255, 0.13);

    padding: .5rem .5rem;
    width: 15rem;
    height: 1rem;
    box-sizing: border-box;
    @include flexcenter(column);
    gap: .3rem;
    opacity: 0;
    visibility: hidden;

    transition: 400ms ease-in-out;

    a{
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 2rem;
      border-radius: 10px;
      padding: 0.5rem;
      box-sizing: border-box;
      @include flex(row, flex-start, center, 0);
      cursor: pointer;
      text-decoration: none;
      color: white;


      transition: 400ms;

      &:hover{
        color: var(--highlightColor);
        transform: translateY(-0.2rem);
      }
    }
    &.active{
      visibility: visible;
      height: 10rem;
      opacity: 1;
      z-index: 1000;

    }
    a.active{
      opacity: 1;
      visibility: visible;
    }
  }

}

nav{
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1000;

  a{
    color: white;
    text-decoration: none;
    &:hover{
      color: var(--highlightColor);
    }
  }
}
