$light: #E9E3DF;
$dark: #465C88;
$mainColor: var(--mainColor);


$textColor: var(--textColor);


$errorColor: var(--errorColor);
$bcgColor: var(--bcgColor);
$highlightColor: var(--highlightColor);
$accentColor: var(--accentColor);

$heading1: 3rem;
$nav-width: 5%;
$navColor: var(--navColor);

$unselectedColor: var(--unselectedColor);

$headingSize: 3vw;
$normalSize: 1.5vw;
$smallSize: 1vw;

$profileColor: var(--profileColor);

:root{
  --mainColor: #393053;
  --textColor: #dedede; // #dedede
  --errorColor: #ff595e;

  --profileColor: white;

  --bcgColor: #0c0c0f;  // #141414 //#0f0f0f //#0c0c0f
  --navColor: #050506;

  --highlightColor: #66d1ff;
  --accentColor: #06b7fd;
  --accentColorDarker: #0269b8;

  --unselectedColor: #343436;

  --barelyVisible: #232324;

  --buttonBackground: #101016FF;
  --buttonGradient1: #13131CFF;
  --buttonGradient2: #0D0D12FF;

  --activeButtonText: #232324;
  --buttonText: #33333b;

  --buttonBorder1: #10101F;
  --buttonBorder2: #2A2B2E99;

  /*--buttonBackground: rgb(16, 16, 22);
  --buttonGradient1: rgb(19, 19, 28);
  --buttonGradient2: rgb(13, 13, 18);

  --buttonBorder1: #10101F;
  --buttonBorder2: rgba(42, 43, 46, 0.6);*/

  --borderRadius: 15px;
  --transition: 0.3s;

}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  color: black;
  background: var(--highlightColor);
}



button {
  font-size: .8rem;
}