$light: #E9E3DF;
$dark: #465C88;
$mainColor: var(--mainColor);
$textColor: var(--textColor);
$errorColor: var(--errorColor);
$bcgColor: var(--bcgColor);
$highlightColor: var(--highlightColor);
$accentColor: var(--accentColor);

$heading1: 3rem;
$nav-width: 5%;
$navColor: var(--navColor);

$unselectedColor: var(--unselectedColor);

$headingSize: 3vw;
$normalSize: 1.5vw;
$smallSize: 1vw;

$profileColor: var(--profileColor);

:root{
  --mainColor: #393053;
  --textColor: #dedede;
  --errorColor: #ff595e;

  --profileColor: white;

  --bcgColor: #0c0c0f;  // #141414 //#0f0f0f
  --navColor: #050506;

  --highlightColor: #66d1ff;
  --accentColor: #06b7fd;
  --accentColorDarker: #0269b8;

  --unselectedColor: #343436;
  --seekerColor: rgba(255, 255, 255, 0.07);

  --borderRadius: 15px;
  --transition: 0.3s;

}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  color: black;
  background: var(--highlightColor);
}



button {
  font-size: .8rem;
}