
@import '../scss-tools/variables';
@import '../scss-tools/mixins';
@import '../scss-tools/nav';
@import '../scss-tools/body';

body{
  margin: 0;
  position: relative;
  background: #000;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

main{
  height: 100%;
  width: calc(100% - #{$nav-width});


  .main-container{
    width: 30%;
    height: 100%;
    padding: 1rem;
    background: red;

    .top-container{
      height: 50%;
      width: 100%;

      .song_cover{
        z-index: 10;
        width: 35%;
        aspect-ratio: 1/1;
        border-radius: 500px;
        background-color: white;
        background-size: contain;
      }
    }

    .bottom-container{
      height: 50%;
      width: 100%;
    }
  }
}

